<div class = "col-3">
    <div class="card testimonial-card">
        <div class="card-up indigo lighten-1"></div>
        <div class="avatar mx-auto white">
        <img src="https://i.pinimg.com/originals/07/2f/be/072fbe054112d92e681c1d4676fd546b.png" height="150px" class="rounded-circle" alt="woman avatar">
        </div>
        
        <div class="card-body">
        <!-- Name -->
        <h4 class="card-title">{{ name }}</h4>
        <hr>
        <!-- Quotation -->
        <p><i class="fas fa-mug-hot mr-2" aria-hidden="true"></i> {{ role }} </p>
        <ul class="list-group">
            <li class="list-group-item">ID: {{ id }}</li>
            <li class="list-group-item">Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
            <li class="list-group-item">School: {{ school }}</li>
        </ul>
        </div>
    </div>
</div>